.about-project {
  box-sizing: border-box;
  max-width: 1280px;
  margin: auto;
  padding: 110px 70px;
}

.about-project__heading {
  width: 100%;
  padding: 0 0 23px 0;
  text-align: start;
  margin: 0;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  border-bottom: 1px solid black;
}

.about-project__duration {
  display: flex;
  width: 100%;
  padding: 70px 0 0 0;
  gap: 40px;
}

.about-project__thesis {
    width: 50%;
}

.about-project__title {
  margin: 0 0 26px 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.about-project__description {
  margin: 0 0 110px 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.about-project__timebar {
  display: flex;
  width: 100%;
}

.about-project__backend {
    flex-basis: 228px;
}

.about-project__frontend {
    flex-grow: 1;
}

.about-project__period {
  padding: 9px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-project__w1 {
    background-color: black;
    color: white;
    
}

.about-project__w4 {
    background-color: #F2F2F2;
    
}

.about-project__w-des {
    color: #A0A0A0;
    padding: 14px 0 0 0;
}
