html {
  font-family: 'Inter', Arial, sans-serif;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
}

.page {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.opacity07 {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.opacity07:hover {
  opacity: 0.7;
}

.opacity08 {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.opacity08 svg {
  vertical-align: middle;
}

.opacity08:hover {
  opacity: 0.8;
}

.link {
  text-decoration: inherit;
  color: inherit;
}
