html {
  font-family: 'Inter', Arial, sans-serif;
  scroll-behavior: smooth;
}

.opacity07 {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.opacity07:hover {
  opacity: 0.7;
}

.opacity08 {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.opacity08:hover {
  opacity: 0.8;
}

.link {
  text-decoration: inherit;
  color: inherit;
}
