.navi__wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  display: flex;
  gap: 20px;
}

.navi__user {
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 0 0 0 30px;
}
