.burger {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  z-index: 5;
  margin: 8px;
}

.burger_pressed {
  position: fixed;
  top: 26px;
  right: 24px;
  margin: 0;
}

.burger__line {
  display: block;
  width: 28px;
  height: 3px;
  background-color: black;
  display: block;
  transition: all 0.2s ease;
}

.burger__line_turn-line1 {
  transform: rotateZ(45deg) translateY(240%) translateX(25%);
}

.burger__line_remove-line2 {
  opacity: 0;
}

.burger__line_turn-line3 {
  transform: rotateZ(-45deg) translateY(-240%) translateX(25%);
}

.burger-backdrop {
  display: none;
  position: fixed;
}

.burger-backdrop_shown {
  display: flex;
  background-color: black;
  opacity: 0.3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .burger {
    display: flex;
  }
}

@media screen and (max-width: 320px) {
  .burger {
    gap: 6.5px;
    margin: 0 8px 0 0;
  }

  .burger__line {
    width: 22px;
    height: 2.5px;
  }

  .burger_pressed {
    top: 18px;
    right: 18px;
    margin: 0;
  }

  .burger__line_turn-line1 {
    transform: rotateZ(45deg) translateY(240%) translateX(30%);
  }

  .burger__line_turn-line3 {
    transform: rotateZ(-45deg) translateY(-240%) translateX(30%);
  }

  .burger-backdrop {
    display: none;
  }
}
