.nav-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 66px;
}

.nav-tab__links {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-tab__link {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration-line: underline;
  color: white;
  text-decoration: underline;
}

@media screen and (max-width: 320px) {
  .nav-tab__link {
    font-size: 11px;
  }

  .nav-tab__links {
    gap: 24px;
  }
}
